/*
Theme Name: Onetone
Theme URI: http://www.mageewp.com/onetone-theme.html
Description: Onetone is a one-page business theme based on Bootstrap framework and coded with HTML5/CSS3. All required information are displayed on a single page with clear order according to users' preferences. The basic sections designed for business purpose have already been built for you, such as services, about, gallery, clients, etc. There's also an extensive admin panel where unlimited sections can be easily added. Multiple options are available if you prefer to do some adjustments, such as changing background, parallax scrolling background, video background, Font Awesome Icons, uploading logo and  favicon,adding custom CSS and so on. The theme is also responsive, clean, and SEO optimized. Please note that with our updation, interface of your blog can grow up with futher more diversities.
Version: 1.8.6
Author: MageeWP
Author URI: http://www.mageewp.com
License: GNU General Public License
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: one-column, two-columns, custom-background, custom-header, custom-menu, theme-options, left-sidebar, translation-ready, editor-style, featured-images, full-width-template, rtl-language-support, custom-colors, threaded-comments, buddypress, post-formats
Text Domain: onetone

OneTone Wordpress Theme has been created by Mageewp.com, Copyright 2016 Mageewp.com.
OneTone Wordpress theme is released under the terms of GNU GPL.
*/

/*
 * 0.0 Reset
 * Reset CSS by Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
div {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body,
button,
input,
select,
textarea {
  color: #555;
  font-family: 'selfFont', 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.8;
  outline: none;
}

input:invalid {
  box-shadow: none;
}

body {
  background: #fff;
}

a {
  color: #963;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
  text-decoration: none;
  color: #963;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: 400;
  margin: 20px 0 12px;
  color: inherit;
}

h1 {
  font-size: 36px;
  line-height: 1.1;
}

h2 {
  font-size: 30px;
  line-height: 1.1;
}

h3 {
  font-size: 24px;
  line-height: 1.1;
}

h4 {
  font-size: 20px;
  line-height: 1.1;
}

h5 {
  font-size: 18px;
  line-height: 1.1;
}

h6 {
  font-size: 16px;
  line-height: 1;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  color: #963;
}

address {
  font-style: italic;
  margin-bottom: 24px;
}

abbr[title] {
  border-bottom: 1px dotted #2b2b2b;
  cursor: help;
}

b,
strong {
  font-weight: 700;
}

cite,
dfn,
em,
i {
  font-style: italic;
}

mark,
ins {
  background: #963;
  text-decoration: none;
}

p {
  margin-bottom: 24px;
}

code,
kbd,
tt,
var,
samp,
pre {
  font-family: monospace, serif;
  font-size: 14px;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  line-height: 1.6;
}

pre {
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 24px;
  max-width: 100%;
  overflow: auto;
  padding: 12px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

blockquote {
  font-size: 19px;
  font-style: italic;
  font-weight: 300;
  line-height: 1.2631578947;
  margin-bottom: 24px;
}

blockquote cite,
blockquote small {
  color: #2b2b2b;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

blockquote em,
blockquote i,
blockquote cite {
  font-style: normal;
}

blockquote strong,
blockquote b {
  font-weight: 400;
}

blockquote {
  border: 0;
  position: relative;
  font-family: Georgia, serif;
}

blockquote p {
  padding: 20px 0 0 48px;
}

blockquote p:before {
  content: "\201C";
  display: block;
  font-size: 84px;
  line-height: 1;
  position: absolute;
  left: 0;
  top: 0;
}

blockquote footer {
  padding-left: 20px;
}

small {
  font-size: smaller;
}

big {
  font-size: 125%;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

dl {
  margin-bottom: 24px;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 24px;
}

ul,
ol {
  list-style: none;
  margin: 0 0 24px 20px;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin: 0 0 0 20px;
}

img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 0 24px;
  padding: 11px 12px 0;
}

legend {
  white-space: normal;
}

button,
input,
select,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

input,
textarea {
  background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0)); /* Removing the inner shadow, rounded corners on iOS inputs */
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table,
th,
td {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin-bottom: 24px;
  width: 100%;
}

th,
td {
  padding: 6px;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

th {
  border-width: 0 1px 1px 0;
  font-weight: bold;
}

td {
  border-width: 0 1px 1px 0;
}

del {
  color: #767676;
}

hr {
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
  height: 1px;
  margin-bottom: 23px;
}

::selection {
  background: #963;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #963;
  color: #fff;
  text-shadow: none;
}

:hover {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.required {
  color: #F00;
}

.clear {
  clear: both;
}

nav li {
  list-style-type: none;
}

/*
 * 0.1 WordPress CSS
 */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 15px 13px 20px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

.sticky {
}

.gallery-caption {
}

.bypostauthor {
}

/*
 * 1.0 General
 */
body {
  position: relative;
}

.wrapper {
  position: relative;
}

.container-fullwidth {
  width: 100%;
  overflow: hidden;
}

.container .container {
  width: 100%;
}

/*
.container-fullwidth .row .row {
  margin-left: 0;
  margin-right: 0;
}
*/
.move-to-top {
  position: fixed;
}

/*
 * 2.0 Top bar
 */
.top-bar {
  background-color: #eee;
  font-size: .85em;
  line-height: 30px;
  display: none;
}

.top-bar-left {
  float: left;
}

.top-bar-right {
  float: right;
}

.top-bar-info {
  color: inherit;
}

ul.top-bar-sns {
  margin: 0;
  overflow: hidden;
}

.top-bar-sns li {
  list-style-type: none;
  float: left;
}

.top-bar-left .top-bar-sns li {
  margin-right: 10px;
}

.top-bar-right .top-bar-sns li {
  margin-left: 10px;
}

.top-bar-sns li a {
  color:;
}

.top-bar-menu ul {
  margin: 0;
  overflow: hidden;
}

.top-bar-menu li {
  list-style-type: none;
  float: left;
}

.top-bar-menu li + li {
  border-left: 1px solid rgba(255, 255, 255, .5); /*optional*/
}

.top-bar-left .top-bar-menu li {
  margin-right: 10px;
  padding-right: 10px;
}

.top-bar-right .top-bar-menu li {
  margin-left: 10px;
  padding-left: 10px;
}

.top-bar-menu li a {
  color:;
}

/*
 * 2.1 Header logo
 */
img.site-logo {
  float: left;
  height: 50px;
}

.name-box {
  margin-top: 12px;
  float: left;
  display: none; /*optional*/
}

.site-logo {
  margin: 10px 10px 10px 0;
}

.site-name {
  margin: 0 0 2px 0;
  color: #595959;
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  margin-top: 10px;
}

.name-box a {
  text-decoration: none;
}

.site-tagline {
  color: #595959;
}

.retina_logo {
  display: none;
}

/*
 * 2.2 Header Search
 */
.search-form {
  display: none;
  position: absolute;
  overflow: hidden;
  top: 100%;
  right: 0;
  width: 130px;
  margin-top: 5px;
  background-color: transparent;
  z-index: 99999;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.search-form input[type="text"] {
  border: none;
  float: left;
  width: 100%;
  margin-right: -30px;
  padding: 5px 35px 6px 10px;
  background: none;
}

.search-form input[type="submit"] {
  background: url(images/search.png) center no-repeat;
  float: right;
  border: none;
  width: 30px;
  height: 30px;
}

/*
 * 2.3 Header navigation
 */
.site-nav-toggle {
  display: block;
  float: right;
  margin-top: 20px;
  background-color: transparent;
  border: none;
  color: #ccc;
}

.overlay .main-header .site-nav-toggle {
  color: #fff;
}

.site-nav {
  display: none;
  margin-top: 0;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
}

.site-nav ul {
  margin: 0;
  background-color: #000;
}

.site-nav li ul {
  margin-left: 0;
}

.site-nav li {
  position: relative;
}

.site-nav > ul > li a {
  display: block;
  font-size: 14px;
  line-height: 40px;
  color: #fff;
  padding: 0 15px;
  text-decoration: none;
  blr: expression_r(this.onFocus=this.blur());
  outline: none;
}

.site-nav > ul > li + li a {
  border-color: rgba(255, 255, 255, .2);
}

/*For onepage*/
.site-nav > ul > li.current > a {
  color: #963;
}

.site-nav > ul > li a:hover {
  background-color: #111;
}

.menu-dropdown-icon {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 40px;
  width: 40px;
  text-align: center;
  cursor: pointer;
}

.site-nav li ul {
  display: none;
}

.site-nav li li a:before {
  content: "-";
  margin: 0 3px 0 10px;
}

.site-nav li li li a:before {
  content: "--";
  margin: 0 3px 0 20px;
}

.site-nav li li li li a:before {
  content: "---";
  margin: 0 3px 0 30px;
}

@media (min-width:920px) {
  .site-nav-toggle {
    display: none;
  }

  .menu-dropdown-icon {
    display: none;
  }

  .site-nav {
    display: block;
    margin: 0;
    width: auto;
    position: static;
  }

  .site-nav > ul {
    background-color: transparent;
    float: left;
  }

  .site-nav > ul > li {
    float: left;
    position: relative;
  }

  .site-nav > ul > li + li {
    margin-left: 35px;
  }

  .site-nav > ul > li > a {
    display: block;
    line-height: 70px;
    padding: 0;
    background-color: transparent;
    border-bottom: 0 solid transparent;
    border-top: 0 solid transparent;
    color: #fff;
  }

  .overlay .main-header .site-nav > ul > li > a {
    color: #fff;
  }

  .site-nav > ul > li:hover > a {
    border-color: #963;
  }

  .site-nav > ul > li > a:hover,
  .site-nav .current-menu-item > a {
    background-color: transparent;
    color: #963;
  }

  .site-nav li > ul {
    display: none;
    position: absolute;
    z-index: 9;
    left: 0;
    top: 100%;
    background-color: #000;
    width: 150px;
  }

  .site-nav li li > ul {
    left: 100%;
    top: 0;
  }

  .site-nav li:hover > ul {
    display: block;
  }

  .site-nav li li a:before {
    display: none;
  }

  .site-nav li li li a:before {
    display: none;
  }

}

/*
 * 2.4 Top Wrap
 */
.top-wrap {
  position: relative;
}

/*
 * 2.5 Main header
 */
.header-wrap {
  position: relative;
  z-index: 999;
}

.main-header {
  min-height: 69px;
  background-color: #000; /*background-image:;*/
  color: #555;
  width: 100%;
  border-bottom: 1px solid transparent;
}

.header-wrap.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.header-wrap.overlay .main-header {
  background-color: transparent;
}

.slider-above-header .header-wrap.overlay {
  top: auto;
  bottom: 0;
}

.logo-left .logo-box {
  float: left;
  text-align: left;
}

.logo-left .site-nav {
  clear: right;
  float: right;
}

.logo-right .logo-box {
  float: right;
  text-align: right;
}

.logo-right .site-nav {
  clear: left;
  float: left;
}

@media screen and (min-width:920px) {
  .logo-center {
    text-align: center;
  }

  .logo-center .logo-box {
    float: none;
    text-align: center;
    margin: 10px 0;
  }

  .logo-center .site-logo {
    float: none;
    margin: 0;
  }

  .logo-center .site-nav ul {
    float: none;
  }

  .logo-center .site-nav > ul > li {
    float: none;
    display: inline-block;
  }

}

.fixed-header .main-header {
  display: none;
}

/*
 * 2.5 Fixed header
 */
.fxd-header {
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  z-index: 2;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.header-wrap.logo-center .fxd-header .logo-box {
  display: none;
}

/*
 * 2.6 Side header
 */
@media screen and (min-width:920px) {
  .side-header .container {
    width: 100%;
  }

  .side-header .header-wrap .container {
    padding-left: 0;
    padding-right: 0;
  }

  .side-header .header-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
  }

  .side-header-right .header-wrap {
    left: auto;
    right: 0;
  }

  .side-header .wrapper {
    padding-left: 320px;
  }

  .side-header-right .wrapper {
    padding-right: 320px;
    padding-left: 0;
  }

  .side-header .site-nav > ul > li {
    display: block;
  }

  .side-header .site-nav > ul > li + li {
    margin-left: 0;
  }

  .side-header .site-nav li ul {
    left: 100%;
    top: 0;
  }

  .side-header-right .site-nav li ul {
    left: auto;
    right: 100%;
  }

  .side-header .site-nav > ul > li a {
    border-bottom-width: 0;
    border-right: 2px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid #f5f5f5;
  }

  .side-header .site-nav > ul > li a {
    border-bottom-width: 0;
    border-right-width: 0;
    border-left: 2px solid rgba(0, 0, 0, 0);
  }

  .side-header .site-nav > ul > li:first-child a {
    border-top: 1px solid #f5f5f5;
  }

  .side-header .site-nav > ul > li:hover > a {
    border-right-color: #963;
  }

  .side-header-right .site-nav > ul > li:hover > a {
    border-left-color: #963;
  }

}

/*
 * 2.6 Mega Menu
 */
header .container {
  position: relative;
}

@media screen and (min-width:920px) {
  .site-nav > ul > li.menu_column {
    position: static;
  }

  .site-nav > ul > li.menu_column > ul {
    width: 100% !important;
    padding: 20px 0;
  }

  .site-nav > ul > li.menu_column > ul > li.col-md-2,
  .site-nav > ul > li.menu_column > ul > li.col-md-1_5,
  .site-nav > ul > li.menu_column > ul > li.col-md-3,
  .site-nav > ul > li.menu_column > ul > li.col-md-4,
  .site-nav > ul > li.menu_column > ul > li.col-md-6 {
    float: left;
  }

  .site-nav > ul > li.menu_column > ul > li > ul {
    display: block;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
  }

  .site-nav li ul li + li > a {
    border-top: 1px solid rgba(255, 255, 255, .2);
  }

  .site-nav > ul > li.menu_column > ul > li + li > a {
    border-top: none;
  }

  .side-header .site-nav > ul > li.menu_column {
    position: relative;
  }

  .side-header .site-nav > ul > li.menu_column > ul {
    width: 600px;
  }

  li.hide-text > a > span.menu-item-label {
    display: none !important;
  }

}

.menu_icon {
  margin-right: 5px;
}

/*
 * 3.0 Footer
 */
footer {
  color: #fff;
  font-size: 12px;
  z-index: 2;
  position: relative;
}

footer a {
  color: #c5c7c9;
}

.footer-widget-area {
  background-color: #252525;
  padding: 60px 0 40px;
}

.footer-widget-area .widget-title {
  color: #fff;
}

.footer-widget-area .widget-search {
  border-color: #fff;
  max-width: 180px;
}

.footer-widget-area .widget-sns i {
  color: #fff;
  border-color: #fff;
}

.footer-widget-area .widget-sns i:hover {
  background-color: #fff;
  color: #19cbcf;
}

.footer-info-area {
  padding: 20px 0;
  background-color: #000;
}

ul.footer-sns {
  display: inline-block;
  font-size: 20px;
  margin-left: 0;
  margin-bottom: 10px;
}

.footer-sns li {
  float: left;
  list-style-type: none;
  margin: 0 5px;
}

.footer-sns li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

ul.footer-links {
  display: inline-block;
  margin-left: 0;
  margin-bottom: 10px;
}

.footer-links li {
  float: left;
  list-style-type: none;
}

.footer-links li + li::before {
  content: "\/";
}

.site-social ul {
  margin: 0;
  overflow: hidden;
}

.site-social li {
  list-style-type: none;
  float: left;
}

.site-social li a {
  display: block;
  margin-left: 1em;
}

/*
 * 4.0 Page title bar
 */
.page-title-bar {
  background-color: transparent;
  background-position:;
  padding: 50px 0 50px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.page-title h1 {
  font-size: 30px;
  line-height: 1;
  margin: 0;
}

.page-title h3 {
  margin: 15px 0 0;
  line-height: 1;
  font-size: 20px;
}

ol.breadcrumb-nav {
  margin: 0;
  line-height: 65px;
}

.no-subtitle ol.breadcrumb-nav {
  line-height: 30px;
}

.breadcrumb-nav li {
  list-style-type: none;
  display: inline-block;
}

.breadcrumb-nav li + li {
  margin-left: 5px;
}

.breadcrumb-nav > li + li:before {
  content: "\/";
  margin-right: 5px;
}

.breadcrumb-nav a {
  color: #a0a0a0;
}

.breadcrumb-nav a:hover {
  color: #963;
}

.title-left .page-title {
  float: left;
}

.title-left .breadcrumb-nav {
  float: right;
}

.title-center .container {
  text-align: center;
}

.title-center .page-title {
  margin-bottom: 5px;
}

.title-center ol.breadcrumb-nav {
  line-height: 30px;
}

.title-right .page-title {
  float: right;
  text-align: right;
}

.title-right .breadcrumb-nav {
  float: left;
}

/*
 * 5.0 Blog Columns
 */
.right-aside .col-aside-left {
  display: none;
}

.left-aside .col-aside-right {
  display: none;
}

.no-aside .col-aside-left,
.no-aside .col-aside-right {
  display: none;
}

.col-main,
.col-aside-left,
.col-aside-right {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width:992px) {
  .col-main,
  .col-aside-left,
  .col-aside-right {
    float: left;
    padding-top: 0;
    padding-bottom: 0;
  }

  .no-aside .col-main {
    width: 100%;
  }

  .left-aside .col-main,
  .right-aside .col-main {
    width: 75%;
  }

  .both-aside .col-main {
    width: 60%;
  }

  .left-aside .col-aside-left,
  .right-aside .col-aside-right {
    width: 25%;
  }

  .both-aside .col-aside-left {
    width: 20%;
  }

  .both-aside .col-aside-right {
    width: 20%;
  }

  .left-aside .col-main {
    left: 25%; /*.left-aside .col-aside-left width*/
  }

  .left-aside .col-aside-left {
    right: 75%; /*.left-aside .col-aside-main width*/
  }

  .both-aside .col-main {
    left: 20%; /*.both-aside .col-aside-left width*/
  }

  .both-aside .col-aside-left {
    right: 60%; /*.both-aside .col-aside-main width*/
  }

}

/*
 * 5.1 Blog Detail
 */
.entry-summary img,
.entry-content img {
  max-width: 100%;
}

.post-inner,
.page-inner {
  padding: 50px 0;
  background-color: #fff;
}

.entry-header {
  margin-bottom: 5px;
}

.feature-img-box .img-box,
.feature-img-box img {
  width: 100%;
}

.feature-img-box {
  /*float: left;*/  /*customization*/ 
  margin-bottom: 20px;
}

.no-text .feature-img-box {
  margin-bottom: 0;
}

.entry-title {
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #666;
  margin: 0 0 10px;
}

.entry-meta,
.entry-more {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
}

.entry-meta li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
}

.entry-meta i {
  margin-right: 5px;
}

.entry-meta a,
.entry-footer a {
  font-style: italic;
  color: #a0a0a0;
}

.entry-meta a:hover,
.entry-footer a:hover {
  color: #963;
}

.entry-footer {
  margin: 20px 0;
  overflow: hidden;
  border: 0 dashed #ccc;
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.entry-box .entry-footer {
  border: 0;
}

.type-page .entry-footer {
  display: none;
}

.entry-more {
}

.entry-tags {
  margin: 10px 0;
}

.entry-tags li {
  display: inline-block;
  list-style-type: none;
}

.entry-tags li a {
}

.entry-tags li+li:before {
  content: ", ";
}

.post-attributes h3 {
  font-size: 16px;
  margin-top: 40px;
}

.post-attributes h3 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #666;
  margin: 40px 0 10px;
}

.post-attributes a {
  color: #a0a0a0;
}

.post-attributes a:hover {
  color: #963;
}

.about-author {
  overflow: hidden;
}

.author-avatar {
  float: left;
  margin: 0 20px 5px 0;
}

.post-pagination {
  border: 0 dashed #ccc;
  border-top-width: 1px;
  border-bottom-width: 1px;
  margin-top: 50px;
}

.post-pagination ul {
  margin: 10px 0;
}

.post-pagination li {
  list-style-type: none;
  display: inline-block;
}

.post-pagination li a {
}

.post-pagination li a:hover {
  border-color: #963;
}

.post-list-pagination {
  text-align: center;
}

.post-list-pagination ul {
  margin: 10px 0;
}

.post-list-pagination li {
  list-style-type: none;
  display: inline-block;
}

.post-list-pagination i,
.post-list-pagination span,
.post-list-pagination a {
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
}

.post-pagination a,
.post-list-pagination a {
  color: #a0a0a0;
}

.post-pagination a:hover,
.post-list-pagination a:hover {
  color: #963;
}

.page-numbers {
  padding: 0 5px;
}

/*
 * 5.2 Blog Grid box
 */
.post-grid-box .img-caption {
  background-color: #fff;
  padding: 10px 0;
}

.post-grid-box .img-caption a h4,
.portfolio-box a h4 {
  margin: 0 0 10px;
  font-size: 16px;
  color: #666;
  text-transform: uppercase;
}

/*
 * 5.3 Comments
 */
ul.comments-list {
  margin-left: 0;
}

.comments-list li {
  list-style-type: none;
}

.media-comment {
  margin-top: 30px;
  position: relative;
  overflow: visible;
  width: 100%;
  display: table !important;
}

.media-avatar {
  width: 60px;
  min-width: 60px;
}

.media-avatar img {
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .3);
}

.media-comment .media-heading {
  font-size: 14px;
}

.form-control,
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border-radius: 0;
  text-shadow: none;
  box-shadow: none;
}

.form-control:focus,
select:focus,
input:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #963;
  box-shadow: none;
}

.comment-reply-link {
  float: right;
  margin-right: 5px;
}

.comment-edit-link,
.comment-reply-link {
  font-style: italic;
  text-transform: uppercase;
}

.form-submit .submit {
  color: #fff;
  background-color: #000;
  width: 100%;
  border: none;
  padding: 8px 20px;
  border-radius: 0;
  display: inline-block;
  text-align: center;
}

/*
 * 5.4 Blog List Style
 */
a .entry-title:hover {
  color: #963;
}

.entry-box {
  margin-bottom: 50px;
}

.blog-list-wrap.blog-grid .entry-box-wrap {
  width: 100%;
  display: inline-block;
  padding: 0 15px;
  float: left;
}

@media screen and (min-width:768px) {
  .blog-list-wrap.blog-grid .entry-box-wrap {
    width: 50%;
  }

}

@media screen and (min-width:992px) {
  .no-aside .blog-list-wrap.blog-grid .entry-box-wrap {
    width: 33.333333333333%;
  }

}

.blog-list-wrap.blog-grid .entry-box {
  border: 1px solid #ccc;
  padding: 1px;
  background-color: #fff;
  margin-bottom: 30px;
}

.blog-list-wrap.blog-grid .entry-main {
  padding: 10px 20px;
}

.blog-list-wrap.blog-aside-image .entry-main {
  margin-top: 0;
}

.blog-list-wrap.blog-aside-image .entry-footer {
  margin: 10px 0;
}

.blog-timeline-icon {
  font-size: 60px;
  color: #ccc;
}

.blog-timeline-inner {
  position: relative;
}

.blog-timeline-line {
  position: absolute;
  top: 0;
  left: 30px;
  margin-left: -1px;
  height: 100%;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.blog-list-wrap.blog-timeline .entry-box-wrap {
  width: 100%;
  position: relative;
  padding-left: 60px;
}

.blog-list-wrap.blog-timeline .entry-box-wrap:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e5e5e5;
  top: 55px;
  left: 25px;
}

.blog-list-wrap.blog-timeline .entry-box {
  border: 1px solid #ccc;
  padding: 1px;
  background-color: #fff;
  position: relative;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .1);
}

.blog-list-wrap.blog-timeline .entry-box:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  top: 50px;
}

.blog-list-wrap.blog-timeline .entry-box:before {
  border-right-color: #ccc;
  left: 0;
  margin-left: -21px;
}

.blog-list-wrap.blog-timeline .entry-box:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  top: 51px;
}

.blog-list-wrap.blog-timeline .entry-box:after {
  border-right-color: #fff;
  left: 0;
  margin-left: -18px;
}

.blog-list-wrap.blog-timeline .entry-main {
  padding: 10px 20px;
}

.blog-timeline-loading {
  margin: 20px 0;
}

@media screen and (min-width:768px) {
  .blog-timeline-icon {
    text-align: center;
  }

  .blog-timeline-line {
    left: 50%;
  }

  .blog-list-wrap.blog-timeline .entry-box-wrap {
    width: 50%;
  }

  .blog-list-wrap.blog-timeline .entry-box-wrap.timeline-left {
    float: left;
    padding-right: 10%;
  }

  .blog-list-wrap.blog-timeline .entry-box-wrap.timeline-left:after {
    right: 0;
    margin-right: -5px;
    left: auto;
  }

  .blog-list-wrap.blog-timeline .entry-box-wrap.timeline-right {
    float: right;
    padding-left: 10%;
  }

  .blog-list-wrap.blog-timeline .entry-box-wrap.timeline-right:after {
    left: 0;
    margin-left: -5px;
  }

  .blog-list-wrap.blog-timeline .timeline-left .entry-box:before {
    border-left-color: #ccc;
    border-right-color: transparent;
    left: auto;
    right: 0;
    margin-right: -21px;
    margin-left: 0;
  }

  .blog-list-wrap.blog-timeline .timeline-left .entry-box:after {
    border-left-color: #fff;
    border-right-color: transparent;
    left: auto;
    right: 0;
    margin-right: -18px;
  }

}

/*
 * 6.0 Portfolio Detail
 */
.post-slider {
  margin-bottom: 20px;
}

#related-portfolio .owl-item {
  padding: 0 8px;
}

#related-portfolio .entry-title {
  font-size: 16px;
}

/*
 * 6.1 Portfolio List
 */
.portfolio-list-wrap {
  margin: 0 -15px;
}

.portfolio-list-wrap.no-text .portfolio-box .entry-main {
  display: none;
}

.portfolio-box-wrap {
  float: left;
  padding: 0 15px 15px;
  margin-bottom: 30px;
}

.portfolio-list-wrap.full-width {
  margin: 0;
}

.portfolio-list-wrap.full-width .portfolio-box-wrap {
  padding: 0;
  margin-bottom: 0;
}

/*
 * 7.0 Widget
 */
.widget-box {
  margin-bottom: 36px;
  overflow: hidden;
  font-size: 12px;
}

.widget-title {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px;
}

.widget-box ul {
  margin-left: 0;
}

.widget-box ul ul {
  margin-left: 10px;
}

.widget-box li {
  overflow: hidden;
  list-style-type: none;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.widget-box > ul > li,
.widget-post > ul > li {
}

.widget-box a {
  color: #a0a0a0;
}

.widget-box a:hover {
  color: #963;
}

.widget_search .search-form {
  border: 1px solid #ccc;
  padding: 4px;
  overflow: hidden;
  width: 100%;
  display: block;
  position: static;
}

.widget_search .search-form div {
  position: relative;
}

.widget_search .search-form div:before {
  position: absolute;
  top: 0;
  right: 0;
  font: normal normal normal 16px/28px 'FontAwesome';
  content: "\f002";
}

.widget_search form.search-form input[type="text"] {
  border: none;
  float: left;
  width: 100%;
  margin-right: -25px;
  padding-right: 25px;
  background-color: transparent;
  color: inherit;
}

.widget_search form.search-form input[type="submit"] {
  background: none;
  float: right;
  border: none;
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 2;
}

.widget-box .widget-img {
  float: left;
  margin-right: 15px;
}

.widget-box .widget-img img {
  width: 60px;
  margin-top: 3px;
}

.widget-project img {
  border: 1px solid #eee;
}

.widget-project .row {
  margin-left: -2px;
  margin-right: -2px;
}

.widget-project [class*='col-xs'] {
  padding: 2px;
}

.widget_recent_posts li {
  clear: left;
}

.widget_recent_posts li,
.widget_contact_info li,
.widget_text li {
  background: none;
  padding-left: 0;
}

.widget-post li {
  list-style-type: none;
  margin-bottom: 15px;
}

.widget-post img {
  display: block;
  float: left;
  width: 20%;
  margin-right: 3%;
  border-radius: 5px;
}

.widget-post .widget-post-box {
  float: left;
  width: 75%;
  margin-top: -5px;
}

.widget-post .widget-post-box.no-img {
  width: 100%;
}

.widget_nav_menu ul {
  margin: 0;
}

.widget_nav_menu li {
  padding: 0;
  margin: 0;
  border-bottom: 0;
}

.widget_nav_menu li a {
  display: block;
  border-style: solid;
  border-color: #e5e5e5;
  border-bottom-width: 1px;
  border-right-width: 1px;
  margin: 0;
  padding: 10px;
  background-color: #fafafa;
}

.widget_nav_menu li li a {
  padding-left: 20px;
}

.widget_nav_menu li li li a {
  padding-left: 30px;
}

.widget_nav_menu {
  border-top: 1px solid #e5e5e5;
}

.widget_nav_menu li.current-menu-item a {
  border-right: 2px solid #963;
}

#wp-calendar td,
.widget #wp-calendar th {
  text-align: center;
}

#wp-calendar #today {
  background: #f5f5f5;
}

/*
 * 8.0 Gallery
 */
.gallery {
  margin-bottom: 1.6em;
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden;
}

.gallery-item {
  display: block;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
  margin-top: 0 !important;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-item img {
  border: 0 !important;
}

.gallery.gallery-size-full {
  margin-left: 0;
  margin-right: 0;
}

.gallery-size-full .gallery-item {
  padding: 0;
  margin-bottom: 0;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-icon img {
  margin: 0 auto;
}

.gallery-caption {
  display: block;
  margin-top: 10px;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}

section.section {
  position: relative;
}

.onetone-parallax {
  background-attachment: fixed !important;
  background-position: 50% 0;
  background-repeat: repeat;
}

/*
 * 9.0 Video Background
 */
#video-controls {
  width: 333px;
}

#video-controls i.fa {
  font-size: 20px;
  vertical-align: middle;
}

#video-controls i.fa-volume-up {
  font-size: 22px;
}

#video-controls i.fa-volume-off {
  font-size: 25px;
}

.black-65 {
  color: #FFFFFF;
  margin: 24px 0;
  padding: 4px 12px;
  left: 20px;
  bottom: 0;
  position: absolute;
  z-index: 999;
}

.home-wrapper,
.home-container {
  position: relative; /*z-index: 3;*/
}

section.video-section .home-container {
  z-index: 3;
}

#tubular-container {
  position: absolute !important;
}

#big-video-wrap {

  /*z-index:1;*/
}

.homepage .page-inner {
  background-color: transparent;
}

.noticefailed {
  color: #FF0000 !important;
}

/*
 *  10.0 Back to Top
 */
#back-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: rgba(255, 255, 255, 0.2);
  font-size: 10px;
  padding: 5px;
  border-radius: 5px;
  display: none;
  z-index: 999;
}

.owl-item .inner {
  padding: 20px;
}

/*
 * 11.0 bbPress
 */
.bbp-breadcrumb {
  display: none;
}

.bbp-search-form {
  margin-bottom: 10px;
}

#bbp-search-form {
  border: 1px solid #ccc;
  padding: 8px;
  overflow: hidden;
  width: 100%;
}

#bbp-search-form div {
  position: relative;
}

#bbp-search-form div:before {
  position: absolute;
  top: 0;
  right: 0;
  font: normal normal normal 18px/20px 'FontAwesome';
  content: "\f002";
}

#bbp-search-form input[type="text"] {
  border: none;
  float: left;
  width: 100%;
  margin-right: -25px;
  padding-right: 25px;
  background-color: transparent;
  color: inherit;
}

#bbp-search-form input[type="submit"] {
  background-color: transparent;
  float: right;
  border: none;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  position: relative;
  z-index: 2;
}

#bbp-search-form input[type="submit"]:before {
  content: "\f002";
}

#bbp_topic_title,
.wp-editor-container,
#bbp_topic_tags {
  border: 1px solid #ccc;
}

#bbp_topic_submit,
#bbp_reply_submit {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 5px 20px;
}

#bbp_topic_title,
#bbp_topic_content,
#bbp_topic_tags,
#bbp_topic_status_select,
#bbp_stick_topic_select {
  padding: 3px;
}

/*
 * 12.0 Post Format
 */

/*Post Format Video*/
.format-video iframe {
  border: 0;
}

/*Post Format image*/
.format-image .wp-caption {
  height: auto;
  padding: 5px;
}

/*Post Format Status*/
.format-status {
}

/*Post Format Audio*/
.format-audio {
}

/*Post Format Quote*/
.format-quote .entry-title {
  display: none;
}

.format-quote .entry-content blockquote {
  font-family: serif;
  font-style: italic;
  border: 0;
  padding: 20px 60px 0 60px;
  margin: 0;
  text-align: center;
}

.format-quote .entry-content blockquote cite {
  margin-top: 20px;
}

.format-quote .entry-content blockquote p {
  font-size: 25px;
  color: #222222;
  line-height: 1.3;
}

.format-quote .entry-content blockquote + p {
  text-align: center;
}

.format-quote .entry-content blockquote + p:before {
  content: '- ';
}

.format-quote .entry-content blockquote + p:after {
  content: ' -';
}

/*Post Format Link*/
.format-link .entry-content {
  background-color: #f5f5f5;
  margin: 0 0 20px;
  padding: 30px 60px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  font-family: serif;
}

.format-link .entry-content p {
  margin: 0;
}

.format-link .entry-title {
  display: none;
}

/*  Post Format Chat  */
.format-chat p {
  margin-bottom: 0;
  padding: 5px;
  background-color: #fefefe;
}

.format-chat p:nth-child(2n+1) {
  background: #f3f3f3;
}

/*  Post Format Gallery  */

/*  Post Format Aside  */
.format-aside.post {
  background-color: #f5f5f5;
  padding: 20px;
}

.format-aside .entry-footer {
  display: none;
}

.format-aside .entry-title {
  display: none;
}

.format-aside .entry-content p {
  margin: 0;
  text-align: center;
}

#onetone-owl-slider .owl-item .inner {
  position: absolute;
  top: 0;
}

#onetone-owl-slider .owl-item .item > img {
  width: 100%;
}

/** slider**/
section.homepage-slider .inner {
  padding: 100px 50px 10px;
  width: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  margin: auto;
  color: #fff;
}

section.homepage-slider h1,
section.homepage-slider h2 {
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin-top: 0;
}

section.homepage-slider .btn {
  display: inline-block;
  margin: 25px 0 0;
  padding: 9px 22px 7px;
  clear: both;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid rgba(255, 255, 255, .4);
  border-radius: 5px;
}

section.homepage-slider .btn:hover {
  background: rgba(255, 255, 255, .05);
}

section.homepage-slider .btn:active {
  -webkit-filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, .5));
  -moz-filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, .5));
  -ms-filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, .5));
  -o-filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, .5));
  filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, .5));
}

section.homepage-slider .btn,
section.homepage-slider .dot {
  -webkit-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
  -moz-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
  -ms-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
  -o-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
}

@media only screen and (min-device-width:320px) and (max-device-width:480px) {
  section.homepage-slider .inner {
    padding-top: 10px;
    padding-bottom: 0;
  }

  section.homepage-slider h1,
  section.homepage-slider h2 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
  }

  section.homepage-slider p {
    font-size: 12px;
    width: 100%;
    margin: 0 auto;
  }

  section.homepage-slider .btn {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }

  .owl-dots {
    display: none !important;
  }

}

@media only screen and (min-device-width:481px) and (max-device-width:640px) {
  section.homepage-slider .inner {
    padding-top: 30px;
    padding-bottom: 0;
  }

  section.homepage-slider h1,
  section.homepage-slider h2 {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0;
  }

  section.homepage-slider p {
    font-size: 12px;
    width: 100%;
    margin: 0 auto 10px;
  }

  section.homepage-slider .btn {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }

  .owl-dots {
    display: none !important;
  }

}

@media only screen and (min-device-width:641px) and (max-device-width:768px) {
  section.homepage-slider .inner {
    padding-top: 50px;
    padding-bottom: 0;
  }

  section.homepage-slider h1,
  section.homepage-slider h2 {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 0;
  }

  section.homepage-slider p {
    font-size: 12px;
    width: 80%;
    margin: 0 auto 10px;
  }

  section.homepage-slider .btn {
    margin: 0;
    padding: 5px 10px;
    font-size: 12px;
  }

  .owl-dots {
    display: none !important;
  }

}

@media only screen and (min-device-width:769px) and (max-device-width:1200px) {
  section.homepage-slider .inner {
    padding-top: 100px;
    padding-bottom: 0;
  }

  section.homepage-slider h1,
  section.homepage-slider h2 {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 0;
  }

  section.homepage-slider p {
    font-size: 14px;
    width: 80%;
    margin: 0 auto 10px;
  }

  section.homepage-slider .btn {
    margin: 0;
    padding: 5px 10px;
    font-size: 12px;
  }

  .owl-dots {
    display: none !important;
  }

}

@media screen and (max-width:600px) {
  .fxd-header {
    top: 0 !important;
  }

}

.footer-widget-area .widget_nav_menu {
  border-top: none;
}

.footer-widget-area .widget_nav_menu li {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.footer-widget-area .widget_nav_menu li a {
  background-color: transparent;
  border: none;
}

.logo-right .site-logo {
  float: right;
  margin: 10px 0 10px 10px;
}

@media screen and (min-width:920px) {
  .logo-center .logo-box {
    display: inline;
    float: none;
  }

  .logo-center .logo-box .name-box {
    display: inline;
    float: none;
  }

  .logo-center .site-logo {
    margin: 10px 0;
    display: inline;
  }

  .logo-center .site-logo.retina_logo {
    display: none;
  }

}

/******* modifications *******/
.banner-sns ul {
  margin-left: 0;
  margin-right: 0;
}

.no-margin .col-md-4 {
  margin-bottom: 15px;
  padding-right: 7.5px;
  padding-left: 7.5px;
}

.icon-box {
  font-size: 128px;
  color: #930003;
}

/******* add custom video *******/
.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}

.video-container video.fillWidth {
  width: 100%;
}